body {
	font-family: Century Gothic, sans-serif;
	font-size: 10px;
	height:400px;
}

.usage_info
{
	width: 210px; 
	display: none; 
	float:left;
	cursor: pointer;
	font-weight: bold;
	color: #FF8C00;
	text-align: center;
	font-size: 10px;
}
#options, #accessKeyId, #secretAccessKey, .donations, .credits
{
	font-family: Century Gothic, sans-serif;
	font-size: 14px;
	width: 400px;
	line-height: 24px;
	padding: 5px;
	border-radius: 5px;
  	border: solid 1px #e8e8e8;
}
#options
{
	width: 500px;
	text-align: center;
}

button
{
	font-family: Century Gothic, sans-serif;
	font-size: 14px;
	padding: 5px;
	
}
.save_options
{
	text-align: center;
	margin-top: 50px;
}
.nice-select.wide
{
	width: 400px!important;
	margin-left: 50px;
}

#ec2_list {
	width: 750px;
	overflow-y: auto;
}

#loading {
	display: none;
	text-align: center;
}
img.img_loading, img.refresh 
{
	vertical-align:middle;
}

img.refresh 
{
	height: 14px;
	cursor: pointer;
}
div.msg_INFO
{
	color: #000000;
}
div.msg_ERROR
{
	color: #FF0000;
}

table {
    border-collapse: collapse;
}

table, th, td {
  
}

#ec2_instances tr
{
	height: 27px!important;
}
th, td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
.th_name, .td_name
{
	width: 265px!important;
}
.td_instanceid
{
	width: 120px;
	font-size: 10px;
}
#ec2_instances tr:nth-child(odd) td{
   /* styles here
   background-color: #F6F6F6; */
}
#ec2_instances tr:nth-child(even) td{
   /* styles here */
}

#ec2_instances tr:hover td {
	background-color: #F6F6F6;
}
#ec2_instances tr:hover td > .instance_name_input:disabled{
	background-color: #F6F6F6;
}

#info_data
{
	float: left;
	padding-left: 5px;
	padding-right: 5px;
}
#img_refresh
{
	display: none;
}
#info_div
{
	display:none; 
	float:left;
	width: 100%;
}
.instance_status
{
	cursor: pointer;
	vertical-align: middle;
	padding-right: 2px;
}
.img_refresh_instance
{
	cursor: pointer;
	width: 14px;
}

#account_info
{
	font-size: 10px;
	float: right;
	display: none;
	line-height: 24px;
}
#account_info div
{
	float: right;
	padding-right: 5px;
	
}
.account_info_data
{
	padding-left: 5px;
	border-right: solid 1px #CCC;
	font-weight: bold;
}

#account_region
{
	
}
.options_info
{
	font-style: italic;
	text-align: center;
	font-size: 10px;
}
.edit_icon{
    display: none;
    vertical-align:middle;
    height: 12px;
	cursor: pointer;
	margin-top: 2px;
}
tr:hover .edit_icon{
    display: block;
}
.option_button
{
	display: none;
	height: 24px;
	line-height: 12px;
	font-size: 12px;
}

input[type="search" i], select
{
	border-color:#cccccc;
	border-radius:3px; 
	border-width:1px; 
	border-radius:3px; 
	border-style:solid;
	font-family: Century Gothic, sans-serif;
	font-size: 10px;
}

.instance_name_input
{
	font-family: Century Gothic, sans-serif;
	font-size: 10px;
	border-color:#cccccc; 
	padding:2px; 
	width: 200px;
	border-width:1px; 
	border-radius:3px; 
	border-style:solid;
	margin-left: -4px;
}
.instance_name_input:disabled
{
	border-color:transparent!important; 
	background-color: transparent!important;
	color: #000;
	padding:2px; 
	border-width:1px; 
	border-radius:3px; 
	border-style:solid;
}

.instance_name_actions
{
	display: none;
	vertical-align:middle;
	padding-left: 2px;
	cursor: pointer;
	margin-top: 2px;
}

#account_id
{
	cursor:pointer;
}
#account_id:hover
{
	text-decoration: underline;
}
.th_id
{
	width: 90px!important;
}
 .th_private_ip, .th_public_ip, .th_availability_zone,
 .td_private_ip, .td_public_ip, .td_availability_zone
 {
 	width: 75px!important;
 }
 div.instance_state
 {
 	text-align: center;
 	width: 110px!important;
 	text-transform:capitalize;
	cursor: pointer;
 }

 .th_state
 {
 	width: 130px!important;
 }
 .td_state
 {
 	text-align: center;
 	width: 130px!important;
 }
 .th_type, .td_type
 {
 	width: 40px!important;
 }
 .th_refresh, .td_refresh
 {
 	width: 10px!important;
 }
 .nice-select.select_instance_state {
	font-size: 10px;
	height: 20px;
	line-height: 20px;
	padding-left: 5px;
	margin-right: 0px;
}
.nice-select.select_instance_state:after {
	height: 2px;
	width: 2px;
}

.nice-select.select_instance_state .option {
	line-height: 20px;
	min-height: 20px;
}

.div_instance_state
{
	text-align: right;
	line-height: 20px;
	min-height: 20px;
	margin-top: -4px;
	margin-right: -100px;
}

.donations
{
	text-align: center;
}

.credits
{
	font-size: 10px;
}